.idea
db.sqlite3
title_change.sh
*.py[cod]
*.so
*.egg
*.egg-info
*.db
dist
build
__pycache__
config
logs
media/salt/fileupload
media/qrcode
media/filedownload
media/salt/module
media/salt/rsync
media/salt/command
media/salt/config
media/salt/deploy
media/salt/full
media/salt/grains
media/salt/pillar
media/salt/project_roster
media/salt/roster
