{% extends 'job_base.html' %}
{% load myfilter %}
{% block css %}
    <link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="ajax-loading"></div>
            <div class="x_title">
                <h4>项目 {{ project.name }} 进程管理
                    <small>Process Manage</small>
                </h4>

                <div class="clearfix"></div>
            </div>
            <div class="x_content table-responsive">
                <div class="item form-group">
                    <input type="hidden" name="action" value="flush_all"/>
                    <button onclick="process_flush('{% url 'project_process_manage' pid=project.pk %}', 'all', 'flush_all', 1)"
                            class="btn btn-info btn-sm">刷新进程
                    </button>
                </div>
                {#            </form>#}
                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>主机</th>
                        {#                        <th>主机IP</th>#}
                        <th>用户</th>
                        <th>PID</th>
                        <th class="hidden">PPID</th>
                        <th>%CPU</th>
                        <th>%内存</th>
                        <th>物理内存</th>
                        <th>启动时间</th>
                        <th>运行时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>


                    <tbody>
                    {% for p in process_list %}
                        <tr id="{{ p.pk }}">
                            <td>{{ p.host.hostname }}</td>
                            {#                            <td>{{ p.host.ip }}</td>#}
                            <td class="user">{{ p.process_user }}</td>
                            <td class="pid">{{ p.process_pid }}</td>
                            <td class="ppid hidden">{{ p.process_ppid }}</td>
                            <td class="cpu">{{ p.process_cpu_per }}</td>
                            <td class="mem">{{ p.process_mem_per }}</td>
                            <td class="rmem">{{ p.process_rmem|divide_1024 }}</td>
                            <td class="start">{{ p.process_start }}</td>
                            <td class="etime">{{ p.process_etime }}</td>
                            <td>
                                <a href="#" id="start"
                                   onclick="process_manage('start', '{% url 'project_process_manage' pid=project.pk %}', '{{ p.host.ip }}');"
                                   type="button" class="btn btn-primary btn-sm">启动</a>
                                <a href="#" id="reload"
                                   onclick="process_manage('reload', '{% url 'project_process_manage' pid=project.pk %}', '{{ p.host.ip }}');"
                                   type="button" class="btn btn-warning btn-sm">重启</a>
                                <a href="#" id="stop"
                                   onclick="process_manage('stop', '{% url 'project_process_manage' pid=project.pk %}', '{{ p.host.ip }}');"
                                   type="button" class="btn btn-danger btn-sm">停止</a>
                                <a href="#" id="flush"
                                   onclick="process_flush('{% url 'job_process_manage' pid=project.pk %}', '{{ p.host.ip }}', 'flush', 1);"
                                   type="button" class="btn btn-info btn-sm">刷新</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="result-modal-salt" role="dialog"
             aria-labelledby="modal-label" aria-hidden="true">
            <div class="modal-dialog" style="width:70%">
                <form id="job_create" method="post"
                      action="{% url 'job_create_quick' %}"
                      enctype="multipart/form-data">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="modal-label">
                                执行结果
                            </h4>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-sm"
                                    data-dismiss="modal">关闭
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </form>
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    <div id="testing"></div>

{% endblock %}

{% block js %}
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-modal-vertical.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/format-seconds.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable();
            process_flush('{% url 'project_process_manage' pid=project.pk %}', 'all', 'flush_auto', 0)
            setInterval("process_flush('{% url 'project_process_manage' pid=project.pk %}', 'all', 'flush_auto', 0)", 30000);
        });

        function process_manage(action, url, hid) {
            $(".ajax-loading").show();
            $.ajax({
                type: "POST",
                url: url,
                data: {hid: hid, action: action},
                dataType: "json",
                success: function (ret) {
                    var html = "";
                    $.each(ret, function (i, item) {
                        var cont = "";
                        html = html + "Host: " + item['id'] + "<br />RetCode: " + item['retcode'] + "<br />Return: <br />";
                        $.each(item['return'], function (k, v) {
                            cont = cont + "<br />[Func]: " + k + "<br />[Comment]: " + v['comment'] + "<br />[Name]: " +
                                v['name'] + "<br />[StdErr]: " + v['changes']['stderr'] + "<br />[StdOut]: " + v['changes']['stdout']
                                + "<br />[Result]: " + v['result'] + "<br />";
                        });
                        html = html + cont;
                    });
                    process_flush(url, hid, 'flush', 0);
                    $(".ajax-loading").hide();
                    $(".modal-body").html(html);
                    $("#result-modal-salt").modal("show");
                },
                error: function () {//ajax发生错误时执行
                    $(".ajax-loading").hide();
                    alert(action + '出错！');
                }
            })
        }


        function process_flush(url, host, action, dshow) {
            if (dshow === 1) {
                $(".ajax-loading").show();
            }
            $.ajax({
                type: "POST",
                url: url,
                data: {'action': action, 'hid': host},
                dataType: "json",
                success: function (ret) {
                    if(ret.retcode === 255){
                        alert('项目已禁用，请先启用');
                        $(".ajax-loading").hide();
                        return false;
                    }
                    var tds = ['user', 'pid', 'ppid', 'cpu', 'mem', 'rmem', 'start', 'etime'];
                    $.each(ret, function (i, item) {
                        var arr = item.split(" ");
                        for (t in tds) {
                            if (tds[t] === 'etime' && arr[7] !== 'None') {
                                r = formatSeconds(arr[t]);
                            } else if (tds[t] === 'rmem' && arr[5] !== 'None') {
                                value = parseInt(arr[t]);
                                if (value > 1024 * 1024) {
                                    r = (value / 1024 / 1024).toFixed(2) + ' GB';
                                } else if (value > 1024) {
                                    r = (value / 1024).toFixed(2) + ' MB';
                                } else {
                                    r = value + ' KB';
                                }
                            } else {
                                r = arr[t];
                            }
                            $("#" + i + " ." + tds[t]).text(r);
                        }
                    });
                    $(".ajax-loading").hide();
                },
                error: function () {//ajax发生错误时执行
                    $(".ajax-loading").hide();
                    alert('Flush出错！');
                }
            })
        }

    </script>
{% endblock %}

