{% extends 'base.html' %}
{% load myinclusion %}
{% block css %}
    {#    <link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet">#}
    <link href="/static/SmartWizard-master/smartwizard/css/smart_wizard.css" rel="stylesheet" type="text/css"/>
    <link href="/static/SmartWizard-master/smartwizard/css/smart_wizard_theme_dots.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="/static/select2/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">


                            <div id="floatTools" class="rides-cs" style="height:128px;">
                                <div class="floatL">
                                    <a style="display:block" id="aFloatTools_Show" class="btnOpen" title="定义发布批次"
                                       href="javascript:void(0);">批次定义<<</a>
                                    <a style="display:none" id="aFloatTools_Hide" class="btnCtn" title="定义发布批次"
                                       href="javascript:void(0);">批次定义>></a>
                                </div>
                                <div id="divFloatToolsView" class="floatR"
                                     style="display: none;height: 128px;width: auto;">
                                    <div class="cn">
                                        <h3 class="titZx">发布批次定义</h3>
                                        <form id="job_batchs" method="get"
                                              action="{% url 'job_manage_tmpl' pid=pid action='add' %}">
                                            <select class="form-control" onchange="submit();" name="batch_num">
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                {#                                                        <option value="10">9</option>#}
                                            </select>
                                            {#    <button type="submit">提交</button>#}
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <h2>{{ project.name }}{{ page_name }}｜
                                <small><a href="{% url 'job_index' %}">发布任务</a></small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <form id="job_create" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- SmartWizard html -->
                            <div id="smartwizard">
                                <ul>
                                    {% for i in batchs %}
                                        <li><a href="#step-{{ i }}">发布批次 {{ i }}<br/>
                                            <small>选择发布{{ i }}主机</small>
                                        </a></li>
                                    {% endfor %}
                                </ul>

                                <div>
                                    {% for i in batchs %}
                                        <div id="step-{{ i }}" class="">
                                            <div class="row step-css">
                                                <div class="col-sm-5">
                                                    <select name="from[]" id="search{{ i }}" class="form-control"
                                                            size="8"
                                                            multiple="multiple">
                                                        {% for h in hosts %}
                                                            <option value="{{ h.id }}">{{ h.hostname }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="col-sm-2">
                                                    <button type="button" id="search{{ i }}_rightAll"
                                                            class="btn btn-block"><i
                                                            class="fa fa-forward"></i></button>
                                                    <button type="button" id="search{{ i }}_rightSelected"
                                                            class="btn btn-block">
                                                        <i
                                                                class="fa fa-chevron-right"></i></button>
                                                    <button type="button" id="search{{ i }}_leftSelected"
                                                            class="btn btn-block"><i
                                                            class="fa fa-chevron-left"></i></button>
                                                    <button type="button" id="search{{ i }}_leftAll"
                                                            class="btn btn-block"><i
                                                            class="fa fa-backward"></i></button>
                                                </div>

                                                <div class="col-sm-5">
                                                    <select name="to{{ i }}[]" id="search{{ i }}_to"
                                                            class="form-control" size="8"
                                                            multiple="multiple">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="result-alert" tabindex="-1" role="dialog"
         aria-labelledby="result-modal" aria-hidden="true">
        <div class="modal-loading"></div>
        <div class="modal-dialog" style="width:30%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="modal-label">
                        提示
                    </h4>
                </div>
                <div id="modal-body" class="modal-body" style="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm"
                            data-dismiss="modal">确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block js %}
    {#    <script src="/static/js/jquery.dataTables.min.js"></script>#}
    <script src="/static/js/csrf.js"></script>
    {#    <script src="/static/js/dataTables.bootstrap.min.js"></script>#}
    <script src="/static/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <script src="/static/SmartWizard-master/smartwizard/js/jquery.smartWizard.min.js"></script>

    <script src="/static/js/multiselect.min.js"></script>
    <script src="/static/select2/select2/js/select2.min.js"></script>


    <script type="text/javascript">
        //$(document).ready(function () {
        // Initialize Smart Wizard with ajax content load
        //$('#wizard').smartWizard({});
        //});
        $(document).ready(function () {


            $(function () {
                $("#aFloatTools_Show").click(function () {
                    $('#divFloatToolsView').animate({width: 'show', opacity: 'show'}, 100, function () {
                        $('#divFloatToolsView').show();
                    });
                    $('#aFloatTools_Show').hide();
                    $('#aFloatTools_Hide').show();
                });
                $("#aFloatTools_Hide").click(function () {
                    $('#divFloatToolsView').animate({width: 'hide', opacity: 'hide'}, 100, function () {
                        $('#divFloatToolsView').hide();
                    });
                    $('#aFloatTools_Show').show();
                    $('#aFloatTools_Hide').hide();
                });
            });

            $("#job_batchs select").val("{{ batch_num }}");

            $('#job_create').submit(function (e) {
                //$(".step-content").css('display', 'block');
                var formData = new FormData(this);
                err_msg = "";
                step_href = $("#smartwizard ul").find("li.active").children("a").attr("href");
                step = step_href.split('-')[1];
                formData.append("batchs", step);
                step_t = parseInt(step) + 1;
                console.log(step_t);
                for (var i = 1; i < step_t; i++) {
                    var t = 't' + i;
                    t = $("select[name='to" + i + "[]'] option").map(function () {
                        return $(this).val();
                    }).get().join(',');
                    if (i === 1) {
                        j = 1;
                    } else {
                        j = i - 1;
                    }
                    if (t === "" || t === null) {
                        if (j === 1) {
                            err_msg = "未选择第1批次的发布主机！<br />";
                        } else {
                            err_msg = err_msg + "未选择第" + j + "批次的发布主机！<br />";
                        }
                    }
                    formData.append('to' + i + '[]', t);
                }
                if (err_msg !== "") {
                    show_alert_modal(err_msg);
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "{% url 'job_manage_tmpl' pid=pid action='add' %}",
                    data: formData,
                    dataType: "json",
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.retcode === 0) {
                            r = "创建任务完成";
                        } else if (data.retcode === 1) {
                            r = "任务模板已存在，请先删除后再添加模板.";
                        }
                        else {
                            r = "创建任务异常";
                        }
                        show_alert_modal(r);
                        $("#result-alert").modal("show").on('hide.bs.modal', function () {
                            window.location.href = "{% url 'job_index' %}";
                        });
                    },

                    error: function (data) {
                        console.log(data);
                    }
                });

                e.preventDefault();

            });

            function show_alert_modal(r) {
                $("#result-alert .modal-body").html(r);
                $("button").removeClass("disabled");
                //$("#job_create button").removeClass("disabled");
                $("#result-alert").modal({backdrop: 'static', keyboard: false});
            }

            {% for i in batchs %}
                $("#search" +{{ i }}).multiselect({
                    search: {
                        left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                        right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                    },
                    fireSearch: function (value) {
                        return value.length > 0;
                    }
                });
            {% endfor %}

            // Toolbar extra buttons
            var btnFinish = $('<button></button>').text('提交')
                .addClass('btn btn-info')
                .on('click', function () {
                    $("button").addClass("disabled");

                });

            // Smart Wizard
            $('#smartwizard').smartWizard({
                {#                {% if pid %}#}
                selected: 0,
                {#                {% else %}#}
                {#                    selected: 0,#}
                {#                {% endif %}#}
                lang: {
                    next: '下一步',
                    previous: '上一步',
                },
                keyNavigation: false,
                theme: 'dots',
                transitionEffect: 'fade',
                toolbarSettings: {
                    toolbarPosition: 'bottom',
                    toolbarExtraButtons: [btnFinish]
                }
            });


            // Initialize the leaveStep event
            $("#smartwizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
                //var step_1 = new Array();
                //alert(stepNumber);
                if (stepDirection === 'forward') {
                    var a = 2, b = 1;
                } else {
                    var a = 0, b = 1;
                }
                var obj = $("#step-" + (stepNumber + a) + " select[name='from[]']");
                obj.empty();
                $("#step-" + (stepNumber + b) + " select[name='from[]'] option").each(function () {
                    var v = $(this).val();
                    var t = $(this).text();
                    obj.append($("<option></option>").val(v).text(t));
                });

            });
        })
        ;

    </script>

{% endblock %}

